body{
	margin: 0;
	padding: 0;
	font-family: arial;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	height: 100%;
}
#frame{
	margin: 0 auto;
}
#imagediv{
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}

